@import "/static/css/images/floor.jpg";
@import "/static/css/images/logo.jpg";
@font-face {
    font-family: 'kionaregular';
    src: url('./fonts/kiona-regular-webfont.woff2') format('woff2'),
         url('./fonts/kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.court{
    position: absolute;
    top: 125px;
    left:50%;
    height: 360px;
    width: 552px;
    border: 3px solid rgb(233, 121, 29);
    transform: translate(-50%, 0);
}
.courtdisplayreset{
    position: absolute;
    top: 190px;
    left:50%;
    height: 400px;
    width: 552px;
    border: 3px solid rgb(233, 121, 29);
    transform: translate(-50%, 0);
}
.courtdisplay{
    position: absolute;
    top: 190px;
    left:50%;
    height: 360px;
    width: 552px;
    border: 3px solid rgb(233, 121, 29);
    transform: translate(-50%, 0);
}
.courtdisplay2{
    position: absolute;
    top: 225px;
    left:50%;
    height: 360px;
    width: 552px;
    border: 3px solid rgb(233, 121, 29);
    transform: translate(-50%, 0);
}
.courtdisplay2reset{
    position: absolute;
    top: 225px;
    left:50%;
    height: 400px;
    width: 552px;
    border: 3px solid rgb(233, 121, 29);
    transform: translate(-50%, 0);
}
.courtdisplay3{
    position: absolute;
    top: 250px;
    left:50%;
    height: 360px;
    width: 552px;
    border: 3px solid rgb(233, 121, 29);
    transform: translate(-50%, 0);
}

.logo{
    position: absolute;
    top: 200px;
    left:50%;
    height: 150px;
    width: 150px;
    background-image: url('/static/css/images/logo.jpg');
    background-repeat: no-repeat;
    transform: translate(-50%, 0);
}

.logoleft{
    position: absolute;
    top: 350px;
    left:100px;
    height: 150px;
    width: 150px;
    background-image: url('/static/css/images/logo.jpg');
    background-repeat: no-repeat;
}
.logoright{
    position: absolute;
    top: 350px;
    right:100px;
    height: 150px;
    width: 150px;
    background-image: url('/static/css/images/logo.jpg');
    background-repeat: no-repeat;
}

.left {
    position: relative;
    top: 25px;
    float: left;
    width: 160px;
    background:  white;
    border: 3px solid rgb(233, 121, 29);
}
.menu{
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 3px solid rgb(233, 121, 29);
}
.right {
    position: relative;
    top: 25px;
    float: right;
    width: 160px;
    background: white;
    border: 3px solid rgb(233, 121, 29);
}
.signin {
    position: absolute;
    top:125px;
    left: 50%;
    border: 3px solid rgb(233, 121, 29);
    text-align: center;
    transform: translate(-50%, 0);
}
.addplayer {
    position: relative;
    top:25px;
    left: 50%;
    height: 250px;
    width: 300px;
    border: 3px solid rgb(233, 121, 29);
    text-align: center;
    transform: translate(-50%, 0);
}
.addplay {
    position: relative;
    top:25px;
    left: 50%;
    height: 175px;
    width: 300px;
    border: 3px solid rgb(233, 121, 29);
    text-align: center;
    transform: translate(-50%, 0);
}
.navbar {
    background: rgb(233, 121, 29);
}
.navbarbutton{
    position: relative;
    background: transparent;
    color: white;
}
.navbarsignout{
    position: absolute;
    background: transparent;
    color: white;
    right: 10px;
}
.border{
    position: absolute;
    top:450px;
    width: 550px;
    left: 50%;
    border: 3px solid rgb(233, 121, 29);
    transform: translate(-50%, 0);
}
.homeplay{
    font-family: 'kionaregular';
    position: absolute;
    float:left;
    left: 10px;
    top: 200px;
    width: 150px;
    border: 3px solid rgb(233, 121, 29);
}
.homeplay2{
    font-family: 'kionaregular';
    position: absolute;
    float:left;
    left: 175px;
    top: 200px;
    width: 150px;
    border: 3px solid rgb(233, 121, 29);
}
.homeplayer{
    font-family: 'kionaregular';
    position: absolute;
    float:right;
    right: 10px;
    top: 200px;
    width: 150px;
    border: 3px solid rgb(233, 121, 29);
}
.homeplayer2{
    font-family: 'kionaregular';
    position: absolute;
    float:right;
    right: 175px;
    top: 200px;
    width: 150px;
    border: 3px solid rgb(233, 121, 29);
}
.newgame{
    position: relative;
    left: 50%;
    top: 25px;
    width: 300px;
    height:250px;
    border: 3px solid rgb(233, 121, 29);
    transform: translate(-50%, 0);
}
.gamelist {
    position: relative;
    left: 50%;
    top: 25px;
    width: 1000px;
    background: white;
    transform: translate(-50%, 0);
    border: 3px solid rgb(233, 121, 29);
}
.playerlist {
    position: absolute;
    left: 50%;
    top: 475px;
    width: 1000px;
    background: white;
    transform: translate(-50%, 0);
    border: 3px solid rgb(233, 121, 29);
}
.playlist {
    position: absolute;
    left: 50%;
    top: 400px;
    width: 1000px;
    background: white;
    transform: translate(-50%, 0);
    border: 3px solid rgb(233, 121, 29);
}
.possessionlist {
    position: absolute;
    left: 50%;
    top: 350px;
    width: 1000px;
    background: white;
    transform: translate(-50%, 0);
    border: 3px solid rgb(233, 121, 29);
}
.title{
    font-family: 'kionaregular';
    background-color: black;
    border: 5px solid rgb(233, 121, 29);
    color: white;
}
.background{
    background-image: url('/static/css/images/floor.jpg');
}
.ten{
    position: relative;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, 0);
}
.editgame{
    position: absolute;
    top:600px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 3px solid rgb(233, 121, 29);

}
.editgame2{
    position: relative;
    top: 25px;
    left: 50%;
    height:125px;
    width: 200px;
    transform: translate(-50%, 0);
    background-color: white;
    border: 3px solid rgb(233, 121, 29);

}
.background{
    background: rgb(253, 207, 120);
}
  
.zone {
    fill: rgb(233, 121, 29);
    stroke: #2B2B2B;
    stroke-width: 4;
    stroke-miterlimit: 10;
}
.blackzone {
    fill: black;
    stroke: #2B2B2B;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.zonedisplay {
    fill: rgb(233, 121, 29);
    stroke: #2B2B2B;
    stroke-width: 4;
    stroke-miterlimit: 10;
}
 
.zone:hover {
    fill: black;
    cursor: pointer;
}
 
.zonedisplay:hover {
    fill: white;
    cursor: pointer;
}

.kiona{
    position: absolute;
    color: white;
    font-size: 32;
    right: 125px
}

.buttonten{
    position: relative;
    padding: 10px;
}
.buttonten2{
    position: relative;
    top: 10px;
}

.primary{
    fill: rgb(233, 121, 29);
}

.left200{
    position: absolute;
    left: 200px;
    font-family: 'kionaregular';
}
.left400{
    position: absolute;
    left: 400px;
    font-family: 'kionaregular';
}
.left600{
    position: absolute;
    left: 600px;
    font-family: 'kionaregular';
}
.left800{
    position: absolute;
    left: 800px;
    font-family: 'kionaregular';
}
.reset{
    position: absolute;
    top: 360px;
    left:50%;
    transform: translate(-50%, 0);
}