<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Possession Charter</title>
    <style>
        body {
              background-image: url("/static/css/images/floor.jpg");
            }
    </style>

</head>

<body>
    <div id="navbar">
    </div>
    <center>
        <div class="title">
            <h1> Edit Plays </h1>
        </div>
    </center>
        <div id="addplay">
            <script>
                window.play = {{ play | safe }}
                window.play_id = {{ play_id | safe }}
            </script>
        </div>
    <script type="text/javascript" src="static/scripts/jsx/navbar.bundle.js"></script>
    <script type="text/javascript" src="static/scripts/jsx/addplay.bundle.js"></script>
</body>

</html>