<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Possession Charter</title>
    <style>
        body {
              background-image: url("/static/css/images/floor.jpg");
            }
    </style>

</head>

<body>
    <div id="navbar"></div>
    <center>
        <div class="title">
            <h1> {{ game_Name | safe }} </h1>
        </div>
    </center>
    <div id="gamelist">
        <script>
            window.game = {{ game | safe }}
            window.most_used = {{ most_used | safe }}
            window.most_efficient = {{ most_efficient | safe }}
            window.used_name = {{ used_name | safe }}
            window.efficient_name = {{ efficient_name | safe }}
            window.player_names = {{ player_names | safe }}
            window.player_values = {{ player_values | safe }}
            window.ind_names = {{ ind_names | safe }}
            window.ind_values = {{ ind_values | safe }}
            window.used_play_id = {{ used_play_id | safe }}
            window.used_player_id = {{ used_player_id | safe }}
            window.eff_play_id = {{ eff_play_id | safe }}
            window.eff_player_id = {{ eff_player_id | safe }}
            window.zone_eff = {{ zone_eff | safe }}
            window.zone_used = {{ zone_used | safe }}
        </script>
    </div>
    <script type="text/javascript" src="../static/scripts/jsx/navbar.bundle.js"></script>
    <script type="text/javascript" src="../static/scripts/jsx/gameList.bundle.js"></script>
</body>

</html>