<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/css/images/favicon.ico" />
    <title>{{ game_name | safe}}: {{ my_player | safe}}</title>
    <style>
        body {
              background-image: url("/static/css/images/floor.jpg");
            }
    </style>

</head>

</html>

<body>
    <div id="navbar">
        <script>
            window.username = ['{{ username | safe }}']
        </script>
    </div>
    <center>
        <div class="title">
            <h1> {{ game_name | safe}}: <br>{{ my_player | safe}} </h1>
        </div>
    </center>
    <div id="game_player">
        <script>
            window.game = {{ game | safe }}
            window.play_names = {{ play_names | safe }}
            window.play_values = {{ play_values | safe }}
            window.ind_names = {{ ind_names | safe }}
            window.ind_values = {{ ind_values | safe }}
            window.used_play_id = {{ used_play_id | safe }}
            window.eff_play_id = {{ eff_play_id | safe }}
            window.zone_used = {{ zone_used | safe }}
            window.zone_eff = {{ zone_eff | safe }}
            window.player = {{ player | safe }}
            window.zone = '{{ zone | safe }}'
        </script>
    </div>
    <script type="text/javascript" src="../../../static/scripts/jsx/navbar.bundle.js"></script>
    <script type="text/javascript" src="../../../static/scripts/jsx/game_player.bundle.js"></script>
</body>

</html>