<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Possession Charter</title>
    <style>
        body {
              background-image: url("/static/css/images/floor.jpg");
            }
    </style>

</head>

<body>
    <div id="navbar">
    </div>
    <center>
        <div class="title">
            <h1> Hoopalytics </h1>
        </div>
    </center>
    <div data-role="page" id="home" data-url="/{{username}}">
        <div id="home">
            <script>
                games = {{ games | safe }}
                game_id = {{ game_id | safe }}
                data = {{ data | safe }}
                window.games = games
                window.game_id = game_id
                window.data = data
            </script>
        </div>
    </div>
    <script type="text/javascript" src="static/scripts/jsx/navbar.bundle.js"></script>
    <script type="text/javascript" src="static/scripts/jsx/home.bundle.js"></script>

</body>

</html>