<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/css/images/favicon.ico" />
    <title>Sixth Man Statistics</title>
    <style>
        body {
              background-image: url("/static/css/images/floor.jpg");
            }
    </style>
</head>

<body>
    <div id="navbar">
        <script>
            window.username = ['{{ username | safe }}']
        </script>
    </div>
    <center>
        <div class="title">
            <h1> Sixth Man Statistics </h1>
        </div>
    </center>
        <div id="home">
            <script>
                window.games = {{ games | safe }}
                window.game_id = {{ game_id | safe }}
                window.data = {{ data | safe }}
            </script>
        </div>
    <script type="text/javascript" src="static/scripts/jsx/navbar.bundle.js"></script>
    <script type="text/javascript" src="static/scripts/jsx/home.bundle.js"></script>

</body>

</html>