<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/css/images/favicon.ico" />
    <title>Start a New Game</title>
    <style>
        body {
              background-image: url("/static/css/images/floor.jpg");
            }
    </style>

</head>

<body>
    <div id="navbar">
        <script>
            window.username = ['{{ username | safe }}']
        </script>
    </div>
    <center>
        <div class="title">
            <h1>Start a New Game</h1>
        </div>
    </center>
    <div id="newgame"></div>
    <script type="text/javascript" src="static/scripts/jsx/navbar.bundle.js"></script>
    <script type="text/javascript" src="static/scripts/jsx/newgame.bundle.js"></script>
</body>

</html>