<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/css/images/favicon.ico" />
    <link rel="shortcut icon" href="">
    <title>{{ gameName | safe }}</title>
    <style>
        body {
              background-image: url("/static/css/images/floor.jpg");
            }
    </style>

</head>

<body>
    <center>
        <div class="title">
            <h1> {{ gameName | safe }} </h1>
        </div>
    </center>

    <div id="offense">
        <script>
            window.last = {{ last | safe }}
            window.play = {{ play | safe }}
            window.play_id = {{ play_id | safe }}
            window.player_id = {{ player_id | safe }}
            window.game = {{ game | safe }}
            window.game_id = {{ game_id | safe }}
            window.number = {{ number | safe }}
        </script>
    </div>

    <script type="text/javascript" src="../../static/scripts/jsx/offense.bundle.js"></script>

</body>

</html>