<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="shortcut icon" href="">
    <title>Possession Charter</title>

</head>

<body>
    <center>
        <h1> Offense </h1>
    </center>

    <div id="offense">
        <script>
            play = {{play | safe}}
            last = {{ last | safe }}
            window.last = last
            window.play = play
        </script>
    </div>

    <script type="text/javascript" src="static/scripts/jsx/offense.bundle.js"></script>

</body>

</html>